.HomeViewSection {
    color: rgb(17, 17, 17);
    text-decoration: none;
}

.HomeViewSection p {
    color: rgb(80, 79, 79);
}

.HomeViewLink {
    color: rgb(17, 17, 17);
    text-decoration: none;
    font-size: 2em;
    font-weight: 200;
}

header {
    display: flex;
    justify-content: center;
    background-color: rgb(152, 253, 253);
    border: 5px solid white;
}

header img {
    max-height: 2em;
    padding: 0.5em;
}

.singleBeerInList {
    display: flex;
    align-items: center;
    color: rgb(17, 17, 17);
    margin: 2em;
    border-bottom: 1px solid gray;
}

.singleBeerInList img {
    max-width: 2em;
    max-height: 6em;
}

.singleBeerInList div {
    margin-left: 4em;
}

.singleBeerInList h5 {
    margin: 0;
    font-size: 1.5em;
    font-weight: 200;
}

.singleBeerInList p {
    color: rgb(139, 139, 139);
    margin: 0;
}

.singleBeerInList small {
    font-size: 0.5em;
    font-weight: 700;
}

.SingleBeerView {
    margin: 0 auto;
    text-align: center;
}

.SingleBeerView div {
    text-align: left;
    font-size: 1.3em;
    color: rgb(116, 116, 116);
}

.SingleBeerView h4 {
    font-size: 2em;
    font-weight: 400;
    color: rgb(17, 17, 17);
}

.SingleBeerView span {
    margin-left: 80vw;
    font-weight: 700;
    font-size: 1.5em;
    color: rgb(80, 79, 79);
}

.SingleBeerView small {
    font-weight: 600;
}

.SingleBeerView p {
    color: rgb(29, 29, 29);
}

.singleBeerImage {
    max-height: 50vh;
    margin-top: 1em;
    margin-bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    font-weight: 700;
    margin: 0em 0.5em;
}

form input,
textarea {
    margin: 0em 0.5em 2em;
    border-radius: 5px;
    line-height: 1.3em;
}

form input {
    padding: 0.3em;
}

form button {
    margin: 0em 0.5em 2em;
    border-radius: 5px;
    background-color: rgb(63, 195, 247);
    font-size: 1.3em;
    color: white;
    padding: 0.3em;
}